<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>高频词展示</title>
    <script src="static/js/jquery.js"></script>
    <script src="static/js/echarts.min.js"></script>
    <link rel="stylesheet"
          href="static/layui/css/layui.css?t=1545041465480" media="all">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">互联网招聘信息系统</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href=""></a></li>
            <li class="layui-nav-item"><a href=""></a></li>
            <li class="layui-nav-item"><a href=""></a></li>
            <li class="layui-nav-item"><a href="javascript:;"></a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href=""></a>
                    </dd>
                    <dd>
                        <a href=""></a>
                    </dd>
                    <dd>
                        <a href=""></a>
                    </dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item"><a href="javascript:;"> <img
                    src="http://t.cn/RCzsdCq" class="layui-nav-img" id="picpath">
                贤心
            </a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href=""></a>
                    </dd>
                    <dd>
                        <a href=""></a>
                    </dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href=""></a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <dd><a href="main">招聘信息首页</a></dd>
                    <a class="" href="javascript:;">各岗位国内需求</a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="domesticdemand">各岗位国内需求</a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="javascript:;">招聘大数据分析</a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="totaldemand">岗位总需求</a>
                        </dd>
                        <dd>
                            <a href="averagesalary">岗位平均薪资</a>
                        </dd>
                        <dd>
                            <a href="pro-averagesalary">省平均信息</a>
                        </dd>
                        <dd>
                            <a href="hotword">招聘高频词</a>
                        </dd>
                        <dd>
                            <a href="3dSalaryPart">岗位薪资区间数量</a>
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <div id="main" style="width: 100%;height:100%;"></div>
        <script type="text/javascript">
            var myChart = echarts.init(document.getElementById("main"));


            var colorList = [[
                '#ff7f50', '#87cefa', '#da70d6', '#32cd32', '#6495ed',
                '#ff69b4', '#ba55d3', '#cd5c5c', '#ffa500', '#40e0d0',
                '#1e90ff', '#ff6347', '#7b68ee', '#d0648a', '#ffd700',
                '#6b8e23', '#4ea397', '#3cb371', '#b8860b', '#7bd9a5'
            ],
                [
                    '#ff7f50', '#87cefa', '#da70d6', '#32cd32', '#6495ed',
                    '#ff69b4', '#ba55d3', '#cd5c5c', '#ffa500', '#40e0d0',
                    '#1e90ff', '#ff6347', '#7b68ee', '#00fa9a', '#ffd700',
                    '#6b8e23', '#ff00ff', '#3cb371', '#b8860b', '#30e0e0'
                ],
                [
                    '#929fff', '#9de0ff', '#ffa897', '#af87fe', '#7dc3fe',
                    '#bb60b2', '#433e7c', '#f47a75', '#009db2', '#024b51',
                    '#0780cf', '#765005', '#e75840', '#26ccd8', '#3685fe',
                    '#9977ef', '#f5616f', '#f7b13f', '#f9e264', '#50c48f'
                ]][2];

            option = {
                // 图表标题
                title: {
                    show: true,//显示策略，默认值true,可选为：true（显示） | false（隐藏）
                    text: '招聘信息热门词条',//主标题文本，'\n'指定换行
                    x: 'center',        // 水平安放位置，默认为左对齐，可选为：
                    // 'center' ¦ 'left' ¦ 'right'
                    // ¦ {number}（x坐标，单位px）
                    y: 'bottom',             // 垂直安放位置，默认为全图顶端，可选为：
                    // 'top' ¦ 'bottom' ¦ 'center'
                    // ¦ {number}（y坐标，单位px）
                    //textAlign: null          // 水平对齐方式，默认根据x设置自动调整
                    backgroundColor: 'rgba(0,0,0,0)',
                    borderColor: '#ccc',    // 标题边框颜色
                    borderWidth: 0,         // 标题边框线宽，单位px，默认为0（无边框）
                    padding: 5,             // 标题内边距，单位px，默认各方向内边距为5，
                                            // 接受数组分别设定上右下左边距，同css
                    itemGap: 10,            // 主副标题纵向间隔，单位px，默认为10，
                    textStyle: {
                        fontSize: 18,
                        fontWeight: 'bolder',
                        color: '#eee'        // 主标题文字颜色
                    },
                    subtextStyle: {
                        color: '#aaa'        // 副标题文字颜色
                    }
                },
                backgroundColor: '#000',
                tooltip: {},
                animationDurationUpdate: function (idx) {
                    // 越往后的数据延迟越大
                    return idx * 100;
                },
                animationEasingUpdate: 'bounceIn',
                color: ['#fff', '#fff', '#fff'],
                series: [{
                    type: 'graph',
                    layout: 'force',
                    force: {
                        repulsion: 250,
                        edgeLength: 10
                    },
                    roam: true,
                    label: {
                        normal: {
                            show: true
                        }
                    },
                    data: [
                        {
                            "name": "开发",
                            "value": 63138,
                            "symbolSize": 143,
                            "draggable": true,
                            "itemStyle": {
                                "normal": {
                                    "shadowBlur": 10,
                                    "shadowColor": colorList[1],
                                    "color": colorList[1]
                                }
                            }
                        },
                        {
                            "name": "运营",
                            "value": 50114,
                            "symbolSize": 132,
                            "draggable": true,
                            "itemStyle": {
                                "normal": {
                                    "shadowBlur": 10,
                                    "shadowColor": colorList[2],
                                    "color": colorList[2]
                                }
                            }
                        },
                        {
                            "name": "经理",
                            "value": 34668,
                            "symbolSize": 128,
                            "draggable": true,
                            "itemStyle": {
                                "normal": {
                                    "shadowBlur": 10,
                                    "shadowColor": colorList[3],
                                    "color": colorList[3]
                                }
                            }
                        },
                        {
                            "name": "专员",
                            "value": 32835,
                            "symbolSize": 123,
                            "draggable": true,
                            "itemStyle": {
                                "normal": {
                                    "shadowBlur": 10,
                                    "shadowColor": colorList[4],
                                    "color": colorList[4]
                                }
                            }
                        },
                        {
                            "name": "产品",
                            "value": 24785,
                            "symbolSize": 119,
                            "draggable": true,
                            "itemStyle": {
                                "normal": {
                                    "shadowBlur": 10,
                                    "shadowColor": colorList[5],
                                    "color": colorList[5]
                                }
                            }
                        },
                        {
                            "name": "Java",
                            "value": 25853,
                            "symbolSize": 114,
                            "draggable": true,
                            "itemStyle": {
                                "normal": {
                                    "shadowBlur": 10,
                                    "shadowColor": colorList[6],
                                    "color": colorList[6]
                                }
                            }
                        },
                        {
                            "name": "软件",
                            "value": 18412,
                            "symbolSize": 107,
                            "draggable": true,
                            "itemStyle": {
                                "normal": {
                                    "shadowBlur": 10,
                                    "shadowColor": colorList[7],
                                    "color": colorList[7]
                                }
                            }
                        },
                        {
                            "name": "销售",
                            "value": 16679,
                            "symbolSize": 100,
                            "draggable": true,
                            "itemStyle": {
                                "normal": {
                                    "shadowBlur": 10,
                                    "shadowColor": colorList[8],
                                    "color": colorList[8]
                                }
                            }
                        },
                        {
                            "name": "前端开发",
                            "value": 16666,
                            "symbolSize": 98,
                            "draggable": true,
                            "itemStyle": {
                                "normal": {
                                    "shadowBlur": 10,
                                    "shadowColor": colorList[9],
                                    "color": colorList[9]
                                }
                            }
                        },
                        {
                            "name": "运维",
                            "value": 14340,
                            "symbolSize": 97,
                            "draggable": true,
                            "itemStyle": {
                                "normal": {
                                    "shadowBlur": 10,
                                    "shadowColor": colorList[10],
                                    "color": colorList[10]
                                }
                            }
                        },
                        {
                            "name": "主管",
                            "value": 12922,
                            "symbolSize": 88,
                            "draggable": true,
                            "itemStyle": {
                                "normal": {
                                    "shadowBlur": 10,
                                    "shadowColor": colorList[11],
                                    "color": colorList[11]
                                }
                            }
                        },
                        {
                            "name": "电商",
                            "value": 12480,
                            "symbolSize": 85,
                            "draggable": true,
                            "itemStyle": {
                                "normal": {
                                    "shadowBlur": 10,
                                    "shadowColor": colorList[12],
                                    "color": colorList[12]
                                }
                            }
                        },
                        {
                            "name": "测试",
                            "value": 12323,
                            "symbolSize": 79,
                            "draggable": true,
                            "itemStyle": {
                                "normal": {
                                    "shadowBlur": 10,
                                    "shadowColor": colorList[13],
                                    "color": colorList[13]
                                }
                            }
                        },
                        {
                            "name": "设计师",
                            "value": 12026,
                            "symbolSize": 78,
                            "draggable": true,
                            "itemStyle": {
                                "normal": {
                                    "shadowBlur": 10,
                                    "shadowColor": colorList[14],
                                    "color": colorList[14]
                                }
                            }
                        },
                        {
                            "name": "网络",
                            "value": 10328,
                            "symbolSize": 75,
                            "draggable": true,
                            "itemStyle": {
                                "normal": {
                                    "shadowBlur": 10,
                                    "shadowColor": colorList[15],
                                    "color": colorList[15]
                                }
                            }
                        },
                        {
                            "name": "系统",
                            "value": 8853,
                            "symbolSize": 73,
                            "draggable": true,
                            "itemStyle": {
                                "normal": {
                                    "shadowBlur": 10,
                                    "shadowColor": colorList[16],
                                    "color": colorList[16]
                                }
                            }
                        },
                        {
                            "name": "数据",
                            "value": 8732,
                            "symbolSize": 71,
                            "draggable": true,
                            "itemStyle": {
                                "normal": {
                                    "shadowBlur": 10,
                                    "shadowColor": colorList[17],
                                    "color": colorList[17]
                                }
                            }
                        },
                        {
                            "name": "游戏",
                            "value": 8704,
                            "symbolSize": 70,
                            "draggable": true,
                            "itemStyle": {
                                "normal": {
                                    "shadowBlur": 10,
                                    "shadowColor": colorList[18],
                                    "color": colorList[18]
                                }
                            }
                        },
                        {
                            "name": "Web",
                            "value": 8424,
                            "symbolSize": 66,
                            "draggable": true,
                            "itemStyle": {
                                "normal": {
                                    "shadowBlur": 10,
                                    "shadowColor": colorList[19],
                                    "color": colorList[19]
                                }
                            }
                        },
                        {
                            "name": "顾问",
                            "value": 8089,
                            "symbolSize": 63,
                            "draggable": true,
                            "itemStyle": {
                                "normal": {
                                    "shadowBlur": 10,
                                    "shadowColor": colorList[0],
                                    "color": colorList[0]
                                }
                            }
                        },
                        {
                            "name": "技术支持",
                            "value": 7503,
                            "symbolSize": 63,
                            "draggable": true,
                            "itemStyle": {
                                "normal": {
                                    "shadowBlur": 10,
                                    "shadowColor": colorList[1],
                                    "color": colorList[1]
                                }
                            }
                        },
                        {
                            "name": "软件开发",
                            "value": 7396,
                            "symbolSize": 62,
                            "draggable": true,
                            "itemStyle": {
                                "normal": {
                                    "shadowBlur": 10,
                                    "shadowColor": colorList[2],
                                    "color": colorList[2]
                                }
                            }
                        },
                        {
                            "name": "算法",
                            "value": 7336,
                            "symbolSize": 60,
                            "draggable": true,
                            "itemStyle": {
                                "normal": {
                                    "shadowBlur": 10,
                                    "shadowColor": colorList[3],
                                    "color": colorList[3]
                                }
                            }
                        },
                        {
                            "name": "研发",
                            "value": 7259,
                            "symbolSize": 60,
                            "draggable": true,
                            "itemStyle": {
                                "normal": {
                                    "shadowBlur": 10,
                                    "shadowColor": colorList[4],
                                    "color": colorList[4]
                                }
                            }
                        },
                        {
                            "name": "技术",
                            "value": 6888,
                            "symbolSize": 60,
                            "draggable": true,
                            "itemStyle": {
                                "normal": {
                                    "shadowBlur": 10,
                                    "shadowColor": colorList[5],
                                    "color": colorList[5]
                                }
                            }
                        },
                        {
                            "name": "软件测试",
                            "value": 6756,
                            "symbolSize": 59,
                            "draggable": true,
                            "itemStyle": {
                                "normal": {
                                    "shadowBlur": 10,
                                    "shadowColor": colorList[6],
                                    "color": colorList[6]
                                }
                            }
                        },
                        {
                            "name": "Android",
                            "value": 6305,
                            "symbolSize": 54,
                            "draggable": true,
                            "itemStyle": {
                                "normal": {
                                    "shadowBlur": 10,
                                    "shadowColor": colorList[7],
                                    "color": colorList[7]
                                }
                            }
                        },
                        {
                            "name": "C++",
                            "value": 5250,
                            "symbolSize": 53,
                            "draggable": true,
                            "itemStyle": {
                                "normal": {
                                    "shadowBlur": 10,
                                    "shadowColor": colorList[8],
                                    "color": colorList[8]
                                }
                            }
                        },
                        {
                            "name": "前端",
                            "value": 5207,
                            "symbolSize": 53,
                            "draggable": true,
                            "itemStyle": {
                                "normal": {
                                    "shadowBlur": 10,
                                    "shadowColor": colorList[9],
                                    "color": colorList[9]
                                }
                            }
                        },
                        {
                            "name": "UI",
                            "value": 4906,
                            "symbolSize": 53,
                            "draggable": true,
                            "itemStyle": {
                                "normal": {
                                    "shadowBlur": 10,
                                    "shadowColor": colorList[10],
                                    "color": colorList[10]
                                }
                            }
                        },
                        {
                            "name": "美工",
                            "value": 4573,
                            "symbolSize": 50,
                            "draggable": true,
                            "itemStyle": {
                                "normal": {
                                    "shadowBlur": 10,
                                    "shadowColor": colorList[11],
                                    "color": colorList[11]
                                }
                            }
                        },
                        {
                            "name": "设计",
                            "value": 4130,
                            "symbolSize": 50,
                            "draggable": true,
                            "itemStyle": {
                                "normal": {
                                    "shadowBlur": 10,
                                    "shadowColor": colorList[12],
                                    "color": colorList[12]
                                }
                            }
                        },
                        {
                            "name": "策划",
                            "value": 3877,
                            "symbolSize": 49,
                            "draggable": true,
                            "itemStyle": {
                                "normal": {
                                    "shadowBlur": 10,
                                    "shadowColor": colorList[13],
                                    "color": colorList[13]
                                }
                            }
                        },
                        {
                            "name": "媒体",
                            "value": 3599,
                            "symbolSize": 48,
                            "draggable": true,
                            "itemStyle": {
                                "normal": {
                                    "shadowBlur": 10,
                                    "shadowColor": colorList[14],
                                    "color": colorList[14]
                                }
                            }
                        },
                        {
                            "name": "ERP",
                            "value": 3533,
                            "symbolSize": 46,
                            "draggable": true,
                            "itemStyle": {
                                "normal": {
                                    "shadowBlur": 10,
                                    "shadowColor": colorList[15],
                                    "color": colorList[15]
                                }
                            }
                        },
                        {
                            "name": "架构师",
                            "value": 3531,
                            "symbolSize": 45,
                            "draggable": true,
                            "itemStyle": {
                                "normal": {
                                    "shadowBlur": 10,
                                    "shadowColor": colorList[16],
                                    "color": colorList[16]
                                }
                            }
                        },
                        {
                            "name": "视觉",
                            "value": 3495,
                            "symbolSize": 43,
                            "draggable": true,
                            "itemStyle": {
                                "normal": {
                                    "shadowBlur": 10,
                                    "shadowColor": colorList[17],
                                    "color": colorList[17]
                                }
                            }
                        },
                        {
                            "name": "管理",
                            "value": 3437,
                            "symbolSize": 42,
                            "draggable": true,
                            "itemStyle": {
                                "normal": {
                                    "shadowBlur": 10,
                                    "shadowColor": colorList[18],
                                    "color": colorList[18]
                                }
                            }
                        },
                        {
                            "name": "PHP",
                            "value": 3311,
                            "symbolSize": 41,
                            "draggable": true,
                            "itemStyle": {
                                "normal": {
                                    "shadowBlur": 10,
                                    "shadowColor": colorList[19],
                                    "color": colorList[19]
                                }
                            }
                        },
                        {
                            "name": "分析师",
                            "value": 3248,
                            "symbolSize": 41,
                            "draggable": true,
                            "itemStyle": {
                                "normal": {
                                    "shadowBlur": 10,
                                    "shadowColor": colorList[0],
                                    "color": colorList[0]
                                }
                            }
                        },
                        {
                            "name": "项目经理",
                            "value": 3187,
                            "symbolSize": 40,
                            "draggable": true,
                            "itemStyle": {
                                "normal": {
                                    "shadowBlur": 10,
                                    "shadowColor": colorList[1],
                                    "color": colorList[1]
                                }
                            }
                        },
                        {
                            "name": "淘宝",
                            "value": 3106,
                            "symbolSize": 39,
                            "draggable": true,
                            "itemStyle": {
                                "normal": {
                                    "shadowBlur": 10,
                                    "shadowColor": colorList[2],
                                    "color": colorList[2]
                                }
                            }
                        },
                        {
                            "name": "网站",
                            "value": 2969,
                            "symbolSize": 39,
                            "draggable": true,
                            "itemStyle": {
                                "normal": {
                                    "shadowBlur": 10,
                                    "shadowColor": colorList[3],
                                    "color": colorList[3]
                                }
                            }
                        },
                        {
                            "name": "嵌入式软件",
                            "value": 2805,
                            "symbolSize": 39,
                            "draggable": true,
                            "itemStyle": {
                                "normal": {
                                    "shadowBlur": 10,
                                    "shadowColor": colorList[4],
                                    "color": colorList[4]
                                }
                            }
                        },
                        {
                            "name": "维护",
                            "value": 2649,
                            "symbolSize": 38,
                            "draggable": true,
                            "itemStyle": {
                                "normal": {
                                    "shadowBlur": 10,
                                    "shadowColor": colorList[5],
                                    "color": colorList[5]
                                }
                            }
                        },
                        {
                            "name": "技术员",
                            "value": 2408,
                            "symbolSize": 37,
                            "draggable": true,
                            "itemStyle": {
                                "normal": {
                                    "shadowBlur": 10,
                                    "shadowColor": colorList[6],
                                    "color": colorList[6]
                                }
                            }
                        },
                        {
                            "name": "后台",
                            "value": 2084,
                            "symbolSize": 36,
                            "draggable": true,
                            "itemStyle": {
                                "normal": {
                                    "shadowBlur": 10,
                                    "shadowColor": colorList[7],
                                    "color": colorList[7]
                                }
                            }
                        },
                        {
                            "name": "安全",
                            "value": 2060,
                            "symbolSize": 36,
                            "draggable": true,
                            "itemStyle": {
                                "normal": {
                                    "shadowBlur": 10,
                                    "shadowColor": colorList[8],
                                    "color": colorList[8]
                                }
                            }
                        },

                        {
                            "name": "自动化",
                            "value": 2032,
                            "symbolSize": 34,
                            "draggable": true,
                            "itemStyle": {
                                "normal": {
                                    "shadowBlur": 10,
                                    "shadowColor": colorList[9],
                                    "color": colorList[9]
                                }
                            }
                        },
                        {
                            "name": "信息",
                            "value": 1985,
                            "symbolSize": 31,
                            "draggable": true,
                            "itemStyle": {
                                "normal": {
                                    "shadowBlur": 10,
                                    "shadowColor": colorList[10],
                                    "color": colorList[10]
                                }
                            }
                        },

                    ]

                }]
            }

            // 使用刚指定的配置项和数据显示图表。
            myChart.setOption(option);

        </script>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>
<script src="static/layui/layui.all.js"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element;

    });
</script>
</body>
</html>